body { 
	font-family:serif;
	width:572;
}

/* Header --------------------------- */
#header {
	border-top-style:solid;
	border-top-color:#aaaaaa;
	padding-top:5px;
	margin-bottom:30px;
}

#headPart1 {
	display:inline-block;
	vertical-align:top;
}

#headPart1 div{ display:inline-block; }

.button {
	background-color:rgb(255,210,50);
	border-style:solid;
	border-top-color:rgb(255,255,50);
	border-left-color:rgb(255,255,50);
	border-right-color:rgb(200,150,40);
	border-bottom-color:rgb(200,150,40);
	color:darkred;
	padding: 0px 5px 0px 5px;
	margin-top:10px;
}

.button a { color:black; }

#spacer { padding-right:70px; }
 
#redhead {
	vertical-align:top;
	background-color:darkred;
	width:20px;
	height:100px;
	margin-top:5px;
	display:inline-block;
}

#headPart2{
	display:inline-block;
	text-align:right;
	margin: 5px 0px 0px 5px;
}

#headPart2 p { font-size:10px; }


/* Section links --------------------- */
#sectionLinkTable tr td {
	vertical-align:top; 
	padding-bottom:20px;
}

#sectionLinkTable tr td div {
	text-align:left;
	width:190px;
	font-size:12px;
}

#sectionLinkTable tr td div a {
	color:white;
	border-radius:20px;
	font-size:20px;
	padding: 0px 10px 0px 10px;
	text-decoration:none;
}

#sectionLinkTable tr td div p {
		margin-top:2px;
		font-size:12px;
}

#ftpSection a{ background-color:green; }
#askSection a{ background-color:blue;  }
#disSection a{ background-color:black; }


/* Link table ------------------------ */
#linkTable tr td {
	padding: 0px 12px 0px 12px;
	text-align:center;
}


/* Footer ----------------------------- */
#footer {
	border-bottom-style:solid;
	border-color:#aaaaaa;
	border-width:2px;
	margin-top:40px;
}

