#main {
		width:600 ;
		margin-left:auto;
		margin-right:auto;
}


/* header --------------------------- */
#header {
	border-top-style:solid;
	border-top-color:#aaaaaa;
	padding-top:5px;
	margin-bottom:30px;
}

/* Left part */
#headLeft {
	display:inline-block;
	vertical-align:top;
}

#headLeft img { vertical-align:middle; }

.button {
	background-color:rgb(255,210,50);

	border-style:solid;
	border-top-color:rgb(255,255,50);
	border-left-color:rgb(255,255,50);
	border-right-color:rgb(200,150,40);
	border-bottom-color:rgb(200,150,40);
	
	display:inline-block;
	padding: 0px 5px 0px 5px;
	margin-top:10px;
}

.button a { 
	color:darkred;
	text-decoration:none;
 }

#button1 span { color:black; }

#button2 { 
	position:relative;
	left:75px;
}
    
/* middle part */
#redhead {
	vertical-align:top;
	background-color:darkred;
	width:20px;
	height:94px;
	margin: 5px 0px 0px 5px;
	display:inline-block;
}

/* right part */
#headRight{
	text-align:right;
	margin: 5px 0px 0px 5px;
	font-size:10px; 
	display:inline-block;
}
#headRight p {margin-top:3px;}


/* CONTENT AREA --------------------- */
/* -- Section links - */
.sectionLinkTable tr td {
	vertical-align:top; 
	padding-bottom:20px;
	text-align:left;
	width:190px;
	font-size:12px;
}

.sectionLinkTable tr td a {
	background-color:grey; /*placeholder*/
	color:white;
	border-radius:20px;
	font-size:20px;
	padding: 0px 10px 0px 10px;
	text-decoration:none;
}

.sectionLinkTable tr td div p { margin-top:5px; }
#ftpSection a{ background-color:green; }
#askSection a{ background-color:blue;  }
#disSection a{ background-color:black; }


/* -- Link table */
.linkTable tr td {
	padding: 0px 12px 0px 12px;
	text-align:center;
}


/* Footer ----------------------------- */
#footer {
	border-bottom-style:solid;
	border-color:#aaaaaa;
	border-width:2px;
	margin-top:40px;
}
