
<html ng-app="homework">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body ng-controller="HomeworkController">
	<div id="wrapper">
		<div class="header">
			<div class="picture">
				<img style="display:block;" ng-src="{{pic}}">
			</div>
		
			<div class="redBoxContainer">
				<div class="redBox" ng-repeat="redBox in redBoxes track by $index">{{redBox}}</div>
			</div>
		
			<div class="bigGreenBox">
							
				<div class="darkGreenBoxContainer">
					<div class="darkGreenBox" ng-repeat="darkGreenBox in darkGreenBoxes track by $index">{{darkGreenBox}}</div>
				</div>
		
				<div class="brownLimeContainer">
					<div class="brownBox">{{brownBox}}</div>
					<div class="limeBox">{{limeBox}}</div>
				</div>
		
			</div>
		
		</div>
		
		<div class="article" ng-repeat="article in articles track by $index">{{article}}</div>
		
	</div>
	<script src="homework.js"></script>
</body>
</html>
