body {
		background-color:black;
}

.sideMargin{
		margin:0px 10px 0px 10px;
}

.bigTopMar {
		margin-top:30px;
}

.inlineBlock{display:inline-block;}

.smallPrint{font-size:10px;}

.colorBox {
				width:200px;
}

.yellowbox {
		background-color:orange;
		color:purple;
		font-weight:bold;
}

#main {
		background-color:white;
		width:600px;
		margin-left:auto;
		margin-right:auto;
}


#header {
		background-color:black;
		display:inline-block;
		width:100%;
}

#headerTable {
				width:100%;
				border:1px solid blue;
}
#headerTable td {
				border:1px solid grey;
				padding:0px;
}

#headerTop{
		border-radius: 10px 0px 0px 0px ;
		background-color:#222222;
		color:white;
		display:block;
}

#colorBoxTable {
		border:2px solid purple;
		height:200px;
}

#green  {background-color:green}
#purple {background-color:purple}
#brown  {background-color:brown}

#footer {
		border-top:2px solid black;
}
