body {
				font-size:11px!important;
        font-family: Arial,Helvetica,sans-serif!important;
}

h5 {
        font-weight: bold!important;
}

.navZeroPadding li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}

.navZeroPadding li a {
        padding-left:  0px!important;
        padding-right: 0px!important;
}

.border {
        border:1px solid black;
}

.noSideMargin {
        margin-left:0px!important;
        margin-right:0px!important;
}

.smallMargin {
        margin:5px;
}

.noPadding {
        padding-right:0px!important;
        padding-left:0px!important;
}

.greyBg {
				background-color:#f1f1f1;
				margin:10px;
}

.whiteBg {
				background-color:white;
}

.header {
				margin-bottom:10px;
}

.inputHolder {
				background-color:white;
        border-right:2px solid #bbbbbb;
        border-bottom:2px solid #bbbbbb;
        margin:5px 0px 5px 0px ;
        padding-bottom: 15px;
}

.PictureBox {
        padding:15px;
}

.orangeBG {
        background-color:lightsalmon;
}

.wrapper {
				/* border:1px solid black; */
}


@media all and (max-width:970px){
				.butt { width:20%; }
}

@media all and (max-width:768px){
				.butt { width:100%; }
}
