body {
				font-size:11px!important;
        font-family: Arial,Helvetica,sans-serif!important;
}

h5 {
        font-weight: bold!important;
}

.nav-justified li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}

.nav-justified li a {
        padding-left:  0px!important;
        padding-right: 0px!important;
}

.border {
        border:1px solid black;
}

.noSideMargin {
        margin-left:0px!important;
        margin-right:0px!important;
}

.smallPadding {
        padding:5px!important;
}

.smallMargin {
        margin:5px!important;
}

.noPadding {
        padding-right:0px!important;
        padding-left:0px!important;
}

.greyBg {
				background-color:#f1f1f1;
}

.whiteBg {
				background-color:white;
}

.header { }

.inputHolder {
				background-color:white;
        border-right:2px solid #bbbbbb;
        border-bottom:2px solid #bbbbbb;
        padding-bottom: 15px;
}

.orangeBG {
        background-color:lightsalmon;
}

